<% layout('layouts/boilerplate') -%>
<h1>Index Page!</h1>

<% posts.map(post=>{ %>
<div>
    <h2><%= post.title %></h2>
    <div>Price: <%= post.price %></div>
    <div><%= post.description %></div>
    <div><%= post.location %></div>
    <div><a href="/posts/<%= post.id %>">View more</a></div>
</div>
<% }); %>